.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
body {background-color: white;margin: 0;}

* {box-sizing: border-box;}
h1 {
  display: none;
  background-color: yellow;
  color: red;
}
div:hover h1 {
  display: block;
  color:blue;
  background-color: lightblue;
}